div.container-fluid {
    font-family: Rotoco;
}

div.container-fluid.login,  div.container-fluid.register{
    width: 50%; 
    margin-top: 20px;
}

input.username, input.email, input.password, input.password-confirm, button.login, button.register {
    border-radius: 20px;
}

p.help-block.validated {
    color: red;
    font-style: italic;
    text-align: left;
    padding-left: 10px;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-md img {
    height: 42px;
    width: 42px;
}

a.chip.chip-lg {
    width: 100% ;
    height: 55px ;
    border-radius: 26px ;
    padding-left: 20px ;
    padding-top: 3px ;
    font-weight: bold ;
    color: #000 ;
}

.chip.chip-lg img {
    height: 52px;
    width: 52px;
}

span.span-radius {
    display: inline-block;
    /*font-size: 10px;*/
    text-align: center;
    height: 50px;
    width: 52px;
    border-radius: 26px;
    border: 1px solid grey;
}
p.row-space {
    margin: 10px 0px;
}

ul#menu > li:hover {
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#active {
    background-color: #ccc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar {
    display: inline-block;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

.year {
    height: 18px;
    font-size: 10px;
    background-color: red;
    border-bottom: solid 1px #000;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.day {
    font-size: 13px;
}

.month {
    font-size: 10px;
}

div.div-content {
    display: inline-block; 
    line-height: 55px;
}

div#line {
    width: 20px; 
    height: 1px; 
    background: #000; 
    margin-left: 15px;
}

div#paginate {
    padding-left: 40%;
}

div.quiz {
    margin: auto;
    margin-top: 65px;
    width: 76%;
}

h3#currentQuestionNumberText {
    font-family: Western, cursive ;
    font-weight: bold;
    color: #1a1a1a;
}

button.btn-test, a.btn-refresh {
    float: right;
    padding: 10px;
    margin: 0;
    border-radius: 20px; 
}

a.btn-refresh {
    display: none; 
}

a#restart-test {
    color: #fff;
}

li.timer {
    display: none; 
    margin: 13px 10px 0px 0px;
    font-family: Western, cursive;
    font-weight: bold;
    color: #fff;
}

h3#title-quiz {
    text-align: center; 
    color: #31678f; 
    background-color: #f2f5f7; 
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    box-sizing: border-box;
    font-weight: bold;
}

div#score {
    margin-left: 36px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    font-family: Rotoco;
}

span.alert-link {
    display: block;
}

ol.questions {
    list-style: none;
}

ol > li.title-question {
    padding: 15px 10px 0px 10px;
    border-radius: 10px;    
}

button.btn-submit {
    display: none;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 9px 15px;
}

div a#btn-menu {
    float: left; 
    padding: 7px 15px;
    margin-left: 52px;
}

ul.answer {
    list-style: none; 
    margin-bottom: 15px;
}

span.question-num {
    font-size: 18px; 
    float: left;
}

span.question {
    display: inline-block; 
}

span.answers {
    margin: 4px 5px 0px 5px; 
    display: block; 
}

ul.nav.navbar-nav.test {
    right: 126px; 
    position: absolute; 
    margin: 10px 20px 0px 0px;
}

/* checkbox */
input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #ffffff;
    height: 16px;
    width: 16px;
    border: 1px solid #BBBBBB;
    outline: none;
}

input[type="checkbox"]:checked {
    background: #007aff;
    outline: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    color: #ffffff;
    outline: none;
}

input[type="checkbox"]:checked:after {
    content: "✓";
    font-size: 14px;
    top: -4px;
    left: 3px;
}

label.form-check-label {
    margin-bottom: 8px;
    padding-left: 20px !important;
    font-weight: 200;
}

input.form-check-input {
    display: none;
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px;
    margin-right: 10px !important;
}

img.avatar {
    height: 25px;
    border-radius: 50% 50%;
}
